<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentimental Analysis & Speaker Insights</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Welcome to the Sentimental Analysis & Speaker Insights Application</h1>

<p>Upload your conversation files to extract text from audio, perform sentiment analysis, and gain insights about the speakers involved.</p>
<p>Get started by uploading your conversation file below:</p>

Only upload <strong>auido or text type files</strong> in the form below.<p>

<hr><p>


<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>Normal Text Box:</strong><br>
    <input type="text" size="20" name="input1" value="uploads"><p>

    <strong>File Type:</strong><br>
    <input type="radio" name="media_type" value="Text" checked> Text
    <input type="radio" name="media_type" value="Audio"> Audio<p>


    <strong>Files:</strong><br>
    Select files OR drag them into the box below.
    <input id="file-picker" type="file" name="file" accept="video/*, audio/*, text/*" multiple><p>

    <div id="dropbox">
        Drag and Drop Files Here
    </div><p>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input type="submit" value="Upload!" id="upload-button">
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/web_interface.js') }}"></script>

</body>
</html>
